* {
  padding-right: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.journal-card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  width: 550px;
}

.journal-card .header {
  height: 55px;
  background-color: #f55a5a;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal-card .header .header-icon {
  height: 24px;
  margin-right: 10px;
}

.journal-card .header .header-title {
  color: white;
}

.journal-card .mainContent {
  padding: 45px 40px;
}

.journal-card .mainContent .card {
  width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.journal-card .mainContent .card .card-img-container {
  min-width: 125px;
  height: 168px;
  margin-right: 15px;
}

.journal-card .mainContent .card .card-img-container .card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fit;
     object-fit: fit;
  border-radius: 5px;
}

.journal-card .mainContent .card .card-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.journal-card .mainContent .card .card-text-container .location {
  margin-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journal-card .mainContent .card .card-text-container .location .location-icon {
  height: 10px;
}

.journal-card .mainContent .card .card-text-container .location .countryName {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2b283a;
  margin-left: 10px;
  margin-right: 10px;
}

.journal-card .mainContent .card .card-text-container .location .location-map-link {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.journal-card .mainContent .card .card-text-container .resortName {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2b283a;
  margin-bottom: 15px;
}

.journal-card .mainContent .card .card-text-container .duration {
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2b283a;
  margin-bottom: 8px;
}

.journal-card .mainContent .card .card-text-container .brief-intro {
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2b283a;
}
/*# sourceMappingURL=style.css.map */